body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div {
  margin-bottom: 3px;
}

.titulo {
  letter-spacing: -0.06em;
  font-size: 2.0em!important;
  margin-bottom: 10px;
}

/*Período da programação semanal*/
.periodo {
  font-size: 1.3em!important;
  letter-spacing: -0.06em; 
  margin-bottom: 0.04em!important;
}

/*Representa o conteúdo de cada evento*/
.evento {
  margin-bottom: -0.4em;
  margin-top: -0.3em;
  letter-spacing: -0.04em;
  font-size: 1.0em!important;
  font-weight: normal!important;
}

/*Lista de eventos de um dia da semana.*/
.lista-eventos{
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.2em;
  font-family: Montserrat-Light;
}

/*Uma dia da semana e a data deste dia.*/
.dia-eventos{
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0.05rem solid;
  text-align: center;
  width: 200px;
  margin:0 auto;
  margin-bottom: 20px;
  
  font-size: 1.1em;
  background-color: #ff9900;
  color:rgb(255, 255, 255);
  font-family: Montserrat-Bold;
  letter-spacing: -0.04em; 
}

/*Conteudo da programação semanal*/
.conteudo{ 
  width: 300px;
  border: 0.5px solid;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  width: 700px;
  max-width: 90%;
  margin: 25px auto;
  
;}

/*Cabeçalho da programação*/
.cabecalho{
  font-size: 0.9em;
  margin-top: 30px;
  text-align: center;
  font-family: Montserrat-Bold;
  margin-right: 5px;
  margin-left: 5px;
}

.divisoria{
  border-top: 3px solid #ff9900;
}

/*Informações no cabeçalho.*/
.info-cabecalho{  
  font-size: 1.5em;
  background-color: #1b1b1b;
  color:#ff9900;
  margin:0 auto;
  width: 220px;
  font-family: Montserrat-Bold;
  padding: 2px;
  margin-bottom: 5px;
}

/*Hora de cada evento*/
.hora-eventos{
  font-family: Montserrat-Regular;
}

/*Adiciona fontes*/
@font-face {
  font-family: "Montserrat-Black";
  src: url("./fontes/Montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./fontes/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fontes/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./fontes/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

/*html{
  background-color: black;
}

div#root{
  background-color: #492222;
  height: auto;
}*/
