body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div {
  margin-bottom: 3px;
}

h1 {
  letter-spacing: -0.06em;
}

h2 {
  font-weight: bold!important;
  font-size: 1.3em!important;
  letter-spacing: -0.06em; 
  margin-bottom: 0.04em!important;
}

li {
  margin-bottom: -0.4em;
  margin-top: -0.3em;
  letter-spacing: -0.04em;
  font-size: 1.3em!important;
}

.lista-eventos{
  margin-top: 0.5em;
  margin-bottom: 1em;
}